h1
{
text-align:center;
color:black;
font-family:"Georgia";
}
form {
    margin: 450px;
    margin-top: 0px;
    font-family:"Georgia"
    
    
}
body
{
background-color: #808000;
background-image: url("mask.jpg");
background-position: center;
font-size: 130%;
overflow: hidden; 

}

form input[type="submit"],
input[type="submit"] {
    display: block;
    padding: 10px 0;
    margin: 30px 180px;
    
    border-radius: 5px;
    width: 25%;
    
}